@import '~sanitize.css';
@import './mixins';
@import './colors.scss';

body {
    background: $white;
    font-family: 'helvetica', sans-serif;
    padding: 20px;
    margin: 0;
    color: $lightGray;
}

.Floor {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 100px auto;

    border: 3px solid $darkGray;

    .room {
        position: absolute;
        width: 30%;
        height: 30%;
        padding: 3%;

        border: 3px solid $darkGray;

        &.occupied {
            border-color: $blue;
        }
        .name {
            text-align: center;
        }
        .lights {
            position: absolute;
            top: 50%;
        }
        .ac {
            position: absolute;
            top: 75%;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
    .room1 {
        top: -3px;
        left: -3px;
    }
    .room2 {
        top: -3px;
        right: -3px;
    }
    .room3 {
        bottom: -3px;
        left: -3px;
    }
    .room4 {
        bottom: -3px;
        right: -3px;
    }

    .device {
        position: absolute;
        left: 0;
        top: 0;
        width: 3%;
        height: 3%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background: $blue;

        .label {
            //display: none;
            position: absolute;
            top: 20%;
            left: 20px;
            font-size: 8px;
            width: 100px;
        }

        &:hover {
            .label {
                display: block;
            }
        }
    }
}
